/* rps.css by Bill Weinman http://bw.org/contact/
  v 1.0 - 2012-07-20
*/

body {
    background-color: #C0C0C0;
}
form{
	margin:0 auto;
	font-family:Tahoma, Geneva, sans-serif;
	display:inline-block;
	text-align:center;
	
}


p {
    line-height: 1.0;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: comic Arial, Helvetica, sans-serif; 
	color: #002153;
    margin: .27ex 11pt;
}

h2 {
    font-size: 130%;
    color: #0B2161;
}

a {
    text-decoration: none;
    color: #f21;
}

a:hover {
   text-decoration:underline;
   float:left;
}

.clear {
    margin: 0;
    padding: 0;
    clear: both;
}

img.img-right {
    display: block;
    float: right;
    border: solid 2px #555;
    padding: 2px;
    margin: 3px 6pt 3px 5px;
}

/* figure */

figure {
    border: solid 2px #555;
    padding: 2px;
    margin: 3px 5px 3px 12pt;
    background-color: #eed;
}

figure.left {
    float: left;
}

figure.right {
    float: right;
}

figure img {
    display: block;
}

figcaption {
    font-family: tahoma, sans-serif;
    font-size: 75%;
    text-align: center;
    padding: 3pt 0;
}

/* nav */

nav#top-menu {
    width: 100%;
    height: 39px;
    background-color: #002153;
    margin: 0;
    padding: 0;
}

#top-menu ul {
    display: block;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#top-menu ul li {
    margin: 0;
    padding: 0;
}
#top-menu ul li a {
    display: block;
    float: left;
    max-height: 25px;
    width: 100px;
    margin: 0;
    padding: 5px 0;
    font-family: tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #002153;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: #002153 solid 2px;
}
#top-menu ul li a:hover { border-bottom: #FFFFFF solid 2px; }

/* header */

header h1 { margin-top: 0; }

header p {
    font-family: tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 85%;
    margin: .25ex 12pt;
    color: #531;
}

/* maindiv */

#maindiv {
    width: 750px;
    margin: 0 auto;
    background-color: #C0C0C0;
	float:left;
}

/* article */

article {
    width: 770px;
    margin-right: 10px;
    display:inline-block;
}

article h1 {
    font-size: 110%;
    margin-top: 12pt;
    margin-bottom: 0;
    padding-top: 3pt;
    border-top: 4px solid #8b008b;
}

article p {
    font-family: tahoma, sans-serif;
}

article mark {
    background-color: #002153;
}

/* aside */

aside.about {
    float:left;
    width: 268px;
	min-height: 600px;
    height: auto !important;
    height: 600px;
    background-color: #780;
    margin: 3pt 6pt 3pt 6pt;
    padding: 6pt 0;
}

aside h1 { font-size: 110%; }
aside h2 { font-size: 95%; }
aside p {
    margin: 0 12pt;
    font-family: tahoma, sans-serif;
    font-style:normal;
    font-size: 85%;
	color:#FFF;
}

aside section h1 {
    padding-top: 3pt;
    border-top: 4px solid #002153;
}


aside header p {
    font-size: 85%;
	font-style:normal;
}

aside section {
    padding: 5px 0;
}
aside.once {
	float:right;
    width: 268px;
	min-height: 600px;
    height: auto !important;
    height: 600px;
    background-color: #ff6600;
    margin: 3pt 1pt 3pt 6pt;
    padding: 12pt 0;
}

/* footer */

footer {
    background: #333;
}

footer p {
    color: #ccc;
    font-size: 70%;
    font-family: tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

/* details */

details summary {
    font-family: tahoma, sans-serif;
    font-size: 110%;
    color: #531;
    margin: 1ex 12pt;
}

